body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}

html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Ensures space between headers */
    padding: 0 1em;  /* Optional padding for better spacing */
}

label {
    font: system-ui sans-serif;
    font-weight: 500;
    margin-bottom: 0.1em;
    font-size:.5em;
}

time {
    color: black;
    font-weight: 300;
    text-align: right;
    display: block;
    font-size: 1em;
}

em {
    color: darkgrey;
    font-weight: 200;
    text-align: right;
    display: block;
    font-size: 0.7em;
}

#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

circle {
    pointer-events: auto;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
    );
    fill: var(--color);
}


circle:hover {
    cursor: pointer;
}

.legend{
    display:flex;
    gap: 15px;
    margin-top:10px;
}

.legend label{
    display:inline-flex;
    align-self: center;
    margin-top:5px;
    font-size:.9em;
    color:darkgrey;
    font-weight:400;
}

.legend > div {
    /* colors */
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
    );
    fill: var(--color);
    align-self: center;
}


.legend > div::before {
    content: "";
    display: inline-block;
    width: 15px; /* Size of the color swatch */
    height: 15px; /* Size of the color swatch */
    border-radius: 50%; /* Makes the swatch circular */
    background-color: var(--color); /* Background set to the defined color */
    margin-right: 5px; /* Optional: space between the swatch and label */
    gap: 2px; /* Adjust the gap if needed */
}


